In [74]:
import pandas as pd
import numpy as np

In [75]:
df = pd.read_csv("/content/The_World_Bank_Population_growth_(annual_).csv")

In [76]:
df_gdp = pd.read_csv('/content/Historical GDP in USD by Country and Year.csv')

In [77]:
df_world_data = pd.read_csv('/content/world-data-2023.csv')

In [78]:
df_flags = pd.read_csv('/content/countries_continents_codes_flags_url.csv')

In [79]:
country_list = df['country_name'].to_list()

In [80]:
df_growth = df.transpose()
header_row = df_growth.iloc[0]
df_growth = df_growth.rename(columns=header_row)
# Drop the row which was set as the header
df_growth = df_growth.drop(df_growth.index[0])
df_growth = df_growth.drop(df_growth.index[0])
df_growth.reset_index(inplace=True)

In [81]:
df_growth

,index,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,United Arab Emirates,Argentina,...,Fragile and conflict affected situations,European Union,Europe & Central Asia (excluding high income),East Asia & Pacific,Arab World,Upper middle income,Middle income,Lower middle income,Low income,High income
0,1961,2.179059,2.66018,1.925952,2.115789,1.558355,3.120855,7.868139,5.509939,1.613029,...,2.147361,0.837873,1.652325,0.179176,2.571718,0.491945,1.314382,2.405341,2.336207,1.253649
1,1962,1.548572,2.732633,2.014879,2.145723,1.460738,3.056731,7.521207,5.447405,1.629282,...,2.187566,0.850397,1.628012,1.377452,2.619388,1.533751,1.912035,2.40445,2.374212,1.266471
2,1963,1.389337,2.753248,2.078997,2.190827,1.410425,2.953749,7.223198,5.316356,1.621661,...,2.201676,0.868925,1.599575,2.434757,2.670051,2.446167,2.432857,2.415678,2.409516,1.238717
3,1964,1.215721,2.806915,2.139651,2.21136,1.301745,2.880686,6.941512,5.150823,1.599523,...,2.219722,0.883341,1.574269,2.34203,2.701946,2.367507,2.387584,2.413504,2.472147,1.22055
4,1965,1.032841,2.840787,2.216007,2.242567,1.111041,2.754021,6.653122,5.00957,1.577533,...,2.224794,0.85181,1.515107,2.350317,2.726862,2.365031,2.370598,2.377783,2.522514,1.169416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2018,0.494795,2.688371,2.885208,2.669239,3.464457,-0.246732,1.580147,0.78945,1.015808,...,2.214431,0.17613,0.498932,0.612373,2.096194,0.692246,1.082707,1.437394,2.755771,0.486683
58,2019,0.45197,2.691134,2.908529,2.633982,3.395278,-0.426007,1.757491,0.779087,0.993397,...,2.248696,0.081899,0.508075,0.532727,2.062687,0.62186,1.025744,1.389929,2.835726,0.42234
59,2020,0.134255,2.678184,3.134747,2.615646,3.268348,-0.574207,1.761891,0.817694,0.970054,...,2.294676,0.072675,0.343863,0.428126,1.757899,0.497491,0.954211,1.362918,2.820511,0.405024
60,2021,-0.045045,2.607472,2.851358,2.573377,3.16603,-0.926918,1.702288,0.834813,0.947491,...,2.253691,-0.114856,0.405396,0.264623,1.623335,0.376323,0.860873,1.290783,2.727872,-0.036268
61,2022,-0.086392,2.543757,2.534498,2.539799,3.096753,-1.21579,0.994607,0.808075,0.925835,...,1.726293,0.043025,-0.960497,0.209788,1.788339,0.296935,0.690394,1.036333,2.696521,0.249443

In [82]:
df_growth.rename(columns= {'index':'Year', 'Viet Nam':'Vietnam'},inplace = True)

In [83]:
df_gdp['Year'] = df_gdp['Year'].str.extract(r'(\d{4})')

In [84]:
df_gdp.drop(columns=['Not classified'], inplace=True)

In [85]:
df_gdp.replace(to_replace='..', value=np.nan, inplace=True)

In [86]:
df_world_data.replace(",","",inplace =True)

In [87]:
columns = df_world_data .columns.to_list()

for col in columns:
    try:
      df_world_data[col] = df_world_data[col].str.replace(",","")
      df_world_data[col] = df_world_data[col].str.replace("$","")
      df_world_data[col] = df_world_data[col].str.replace("%","")
    except:
      pass

In [88]:
columns_to_clean = ['Density\n(P/Km2)', 'Agricultural Land( %)', 'Land Area(Km2)', 'Armed Forces size',
                    'Co2-Emissions', 'CPI', 'CPI Change (%)', 'Forested Area (%)', 'Gasoline Price',
                    'GDP', 'Gross primary education enrollment (%)', 'Gross tertiary education enrollment (%)',
                    'Minimum wage', 'Out of pocket health expenditure', 'Population',
                    'Population: Labor force participation (%)', 'Tax revenue (%)', 'Total tax rate',
                    'Unemployment rate', 'Urban_population']

for column in columns_to_clean:
    df_world_data[column] = pd.to_numeric(df_world_data[column])

df_world_data['Calling Code'] = df_world_data['Calling Code'].astype('Int64')

In [89]:
df_world_data.replace("null",np.nan,inplace = True)

In [90]:
df_world_data.replace('S�����������', 'Sao Tome and Principe', inplace=True)

In [91]:
world_countries_list = df_world_data.Country.to_list()

In [92]:
gdp_countries_list = df_gdp.columns.to_list()[1:]

In [93]:
difference1 = set(world_countries_list) - set(gdp_countries_list)
difference1

{'Brunei',
 'Cape Verde',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'East Timor',
 'Egypt',
 'Federated States of Micronesia',
 'Iran',
 'Ivory Coast',
 'Kyrgyzstan',
 'Laos',
 'North Korea',
 'Palestinian National Authority',
 'Republic of Ireland',
 'Republic of the Congo',
 'Russia',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Slovakia',
 'South Korea',
 'Syria',
 'The Bahamas',
 'The Gambia',
 'Turkey',
 'Vatican City',
 'Venezuela',
 'Yemen'}

In [94]:
difference2 = set(gdp_countries_list) - set(world_countries_list)
difference2

{'Africa Eastern and Southern',
 'Africa Western and Central',
 'American Samoa',
 'Arab World',
 'Aruba',
 'Bahamas, The',
 'Bermuda',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Cabo Verde',
 'Caribbean small states',
 'Cayman Islands',
 'Central Europe and the Baltics',
 'Channel Islands',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 "Cote d'Ivoire",
 'Curacao',
 'Czechia',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Egypt, Arab Rep.',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Faroe Islands',
 'Fragile and conflict affected situations',
 'French Polynesia',
 'Gambia, The',
 'Gibraltar',
 'Greenland',
 'Guam',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Hong Kong SAR, China',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Iran, Islamic Rep.',
 'Ireland',
 'Isle of Man',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kyrgyz Republic',
 'Lao PDR',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Macao SAR, China',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'New Caledonia',
 'North America',
 'Northern Mariana Islands',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Russian Federation',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Small states',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Syrian Arab Republic',
 'Timor-Leste',
 'Turkiye',
 'Turks and Caicos Islands',
 'Upper middle income',
 'Venezuela, RB',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'World',
 'Yemen, Rep.'}

In [95]:
columns_to_drop =[
  'Aruba',
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'British Virgin Islands',
 'American Samoa',
 'Arab World',
 'Cayman Islands',
 'Channel Islands',
 'Faroe Islands',
 'Caribbean small states',
 'Central Europe and the Baltics',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Fragile and conflict affected situations',
 'Gibraltar',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Least developed countries: UN classification',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'North America',
 'OECD members',
 'Other small states',
 'Pacific island small states',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Small states',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Upper middle income',
 'World',
 'Isle of Man',
 'Macao SAR, China',
 'Hong Kong SAR, China',
 'Sint Maarten (Dutch part)',
 'St. Martin (French part)',
 'Turks and Caicos Islands',
 'Virgin Islands (U.S.)',
  'Bermuda',
'Curacao',
  'French Polynesia',
  'Greenland',
'Guam',
'Kosovo',
  'New Caledonia',
  'Northern Mariana Islands',
  'Puerto Rico'
]

In [96]:
df_gdp.drop(columns=columns_to_drop,inplace = True)
df_growth.drop(columns=columns_to_drop,inplace = True)

In [97]:
gdp_countries_list_2 = df_gdp.columns.to_list()[1:]

In [98]:
difference1_2 = set(gdp_countries_list_2) - set(world_countries_list)
difference1_2

{'Bahamas, The',
 'Brunei Darussalam',
 'Cabo Verde',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 "Cote d'Ivoire",
 'Czechia',
 'Egypt, Arab Rep.',
 'Gambia, The',
 'Iran, Islamic Rep.',
 'Ireland',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kyrgyz Republic',
 'Lao PDR',
 'Micronesia, Fed. Sts.',
 'Russian Federation',
 'Slovak Republic',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Syrian Arab Republic',
 'Timor-Leste',
 'Turkiye',
 'Venezuela, RB',
 'West Bank and Gaza',
 'Yemen, Rep.'}

In [99]:
difference2_2 = set(world_countries_list) - set(gdp_countries_list_2)
difference2_2

{'Brunei',
 'Cape Verde',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'East Timor',
 'Egypt',
 'Federated States of Micronesia',
 'Iran',
 'Ivory Coast',
 'Kyrgyzstan',
 'Laos',
 'North Korea',
 'Palestinian National Authority',
 'Republic of Ireland',
 'Republic of the Congo',
 'Russia',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Vincent and the Grenadines',
 'Slovakia',
 'South Korea',
 'Syria',
 'The Bahamas',
 'The Gambia',
 'Turkey',
 'Vatican City',
 'Venezuela',
 'Yemen'}

In [100]:
len(difference1_2)-len(difference2_2)

-1

In [101]:
rename_countries = [
    ['Brunei', 'Brunei Darussalam'],
    ['Cape Verde', 'Cabo Verde'],
    ['Democratic Republic of the Congo', 'Congo, Dem. Rep.'],
    ['Republic of the Congo', 'Congo, Rep.'],
    ['Ivory Coast', "Cote d'Ivoire"],
    ['Czech Republic', 'Czechia'],
    ['Iran', 'Iran, Islamic Rep.'],
    ['Republic of Ireland', 'Ireland'],
    ['North Korea', "Korea, Dem. People's Rep."],
    ['South Korea', 'Korea, Rep.'],
    ['Kyrgyzstan', 'Kyrgyz Republic'],
    ['Laos', 'Lao PDR'],
    ['Federated States of Micronesia', 'Micronesia, Fed. Sts.'],
    ['New Caledonia', 'New Caledonia'],
    ['Northern Mariana Islands', 'Northern Mariana Islands'],
    ['Russia', 'Russian Federation'],
    ['Slovakia', 'Slovak Republic'],
    ['Saint Kitts and Nevis', 'St. Kitts and Nevis'],
    ['Saint Lucia', 'St. Lucia'],
    ['Saint Vincent and the Grenadines', 'St. Vincent and the Grenadines'],
    ['Syria', 'Syrian Arab Republic'],
    ['East Timor', 'Timor-Leste'],
    ['Turkey', 'Turkiye'],
    ['Venezuela', 'Venezuela, RB'],
    ['Palestinian National Authority', 'West Bank and Gaza'],
    ['Yemen', 'Yemen, Rep.'],
    ['Egypt','Egypt, Arab Rep.']
]

In [102]:
for con in rename_countries:
  df_world_data.Country.replace(con[0],con[1],inplace=True)

In [103]:
rows_to_drop = df_world_data[df_world_data['Country']=='Vatican City']
df_world_data.drop(rows_to_drop.index, inplace=True)

In [104]:
df_gdp.rename(columns={'Bahamas, The':'The Bahamas','Gambia, The':'The Gambia'},inplace = True)

In [105]:
df_growth.rename(columns={'Bahamas, The':'The Bahamas','Gambia, The':'The Gambia'},inplace = True)

In [106]:
flags_countries_list = df_flags.country.to_list()

In [107]:
world_countries_list = df_world_data.Country.to_list()

In [108]:
difference1 = set(flags_countries_list) - set(world_countries_list)
difference1

{'Abkhazia',
 'American Samoa',
 'Anguilla',
 'Antarctica',
 'Artsakh',
 'Aruba',
 'Bahamas',
 'Bermuda',
 'Bonaire, Sint Eustatius and Saba',
 'Bosnia And Herzegovina',
 'Bouvet Island',
 'British Indian Ocean Territory',
 'Brunei',
 'Cape Verde',
 'Cayman Islands',
 'Christmas Island',
 'Cocos (Keeling) Islands',
 'Congo',
 'Congo (Democratic Republic Of The)',
 'Cook Islands',
 'Curaçao',
 'Czech Republic',
 "Côte D'Ivoire",
 'Democratic Republic of Congo',
 'East Timor',
 'Egypt',
 'Falkland Islands (Malvinas)',
 'Faroe Islands',
 'Federated States of Micronesia',
 'French Guiana',
 'French Polynesia',
 'French Southern Territories',
 'Gambia',
 'Gibraltar',
 'Greenland',
 'Guadeloupe',
 'Guam',
 'Guernsey',
 'Guinea Bissau',
 'Heard Island and McDonald Islands',
 'Holy See',
 'Hong Kong',
 'Iran',
 'Isle of Man',
 'Ivory Coast',
 'Jersey',
 'Korea, Republic of',
 'Kosovo',
 'Kyrgyzstan',
 'Laos',
 'Macao',
 'Macedonia',
 'Martinique',
 'Mayotte',
 'Micronesia (Federated States of)',
 'Montserrat',
 'New Caledonia',
 'Niue',
 'Norfolk Island',
 'North Korea',
 'Northern Mariana Islands',
 'Palestine',
 'Palestine, State of',
 'Pitcairn',
 'Puerto Rico',
 'Republic of China',
 'Republic of Congo',
 'Russia',
 'Réunion',
 'Sahrawi Arab Democratic Republic',
 'Saint Barthélemy',
 'Saint Helena, Ascension and Tristan da Cunha',
 'Saint Kitts and Nevis',
 'Saint Lucia',
 'Saint Martin (French part)',
 'Saint Pierre and Miquelon',
 'Saint Vincent and Grenadines',
 'Saint Vincent and the Grenadines',
 'Sint Maarten (Dutch part)',
 'Slovakia',
 'Somaliland',
 'South Georgia and the South Sandwich Islands',
 'South Korea',
 'South Ossetia',
 'Svalbard and Jan Mayen',
 'Swaziland',
 'Syria',
 'Taiwan',
 'Tokelau',
 'Transnistria',
 'Turkey',
 'Turkish Republic of Northern Cyprus',
 'Turks and Caicos Islands',
 'United States Minor Outlying Islands',
 'Vatican City',
 'Venezuela',
 'Virgin Islands (British)',
 'Virgin Islands (U.S.)',
 'Wallis and Futuna',
 'Western Sahara',
 'Yemen',
 'Åland Islands'}

In [109]:
difference2 = set(world_countries_list) - set(flags_countries_list)
difference2

{'Congo, Dem. Rep.',
 'Congo, Rep.',
 "Cote d'Ivoire",
 'Czechia',
 'Egypt, Arab Rep.',
 'Iran, Islamic Rep.',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kyrgyz Republic',
 'Lao PDR',
 'Micronesia, Fed. Sts.',
 'North Macedonia',
 'Russian Federation',
 'Slovak Republic',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Vincent and the Grenadines',
 'Syrian Arab Republic',
 'The Bahamas',
 'Turkiye',
 'Venezuela, RB',
 'West Bank and Gaza',
 'Yemen, Rep.'}

In [110]:
for con in rename_countries:
  df_flags.country.replace(con[0],con[1],inplace=True)

In [111]:
add_rename_countries = [
    ['Democratic Republic of Congo','Congo, Dem. Rep.'],
 ['Republic of Congo','Congo, Rep.'],
 ['Macedonia','North Macedonia'],
 ['Bahamas','The Bahamas'],
 ['Palestine','West Bank and Gaza'],
['Swaziland','Eswatini']
]

In [112]:
for con in add_rename_countries:
  df_flags.country.replace(con[0],con[1],inplace=True)

In [113]:
df_flags.drop_duplicates(subset='country',inplace=True)

In [114]:
df_flags = df_flags[df_flags['country'].isin(gdp_countries_list)]

In [116]:
df_world_data.to_csv('world_data.csv')

In [117]:
df_gdp.to_csv('gdp.csv')

In [118]:
df_growth.to_csv('growth.csv')

In [119]:
df_flags.to_csv('flags.csv')